<h1> <%= link_to @industry.name, industries_path  %> </h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Created At</th>
      <th>Updated At</th>

      <%= link_to "Edit", edit_industry_path %>

      <%= link_to 'Delete', industry_path, method: :delete, data: { confirm: 'Are you sure?' } %>

    </tr>
  </thead>
  <tbody>
      <tr>
        <td> <%= @industry.name %> </td>
        <td> <%= @industry.description %>
        <td> <%= @industry.created_at %> </td>
        <td> <%= @industry.updated_at %> </td>
      </tr>
  </tbody>
</table>
<h1>Companies</h1>
<table>
  <thead>
    <tr>
      <th>Company Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%= form_for [@company, @industry], html: {class:"form-horizontal"} do |f| %>

      <td> <%= collection_select( :company, :company_id, Company.all, :id, :company_name, {}, ) %>  <%= f.submit "Add Company" %>  </td>
      <% end %>
    </tr>
  </tbody>
</table>
